Skip to content
This repository  
Pull requests
Issues
Gist
 @jealbright
 Watch 1
  Star 0
  Fork 0 Cgipson06/EtchaSketch
 Branch: master  EtchaSketch/style.css
bce3a05  on May 7
@Cgipson06 Cgipson06 changed jQuery source
1 contributor
RawBlameHistory     37 lines (32 sloc)  488 Bytes
header {
	font-size:20px;
	text-align:center;
}

h2 {
	margin:5px 0px;
}

body {
	background-color:#F5F5DC;
}

#container {
	background-color:black;
	width:500px;
	height:500px;
	position:relative;
	margin:5px auto 0px auto;
	border-style:solid;
	border-width:10px 10px 38px 10px;
	border-radius:5px;
	border-color:red;
	box-shadow: 10px 10px 5px #888888;
}

.screen {
	background-color:#454343;
	width:31.25px;
	height:31.25px;
	float:left;
}

#button {
	display:block;
	margin:0 auto;
}
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help
